<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>



    <h2>Verification Results</h2>

    <% if (allValid) { %>
      <p>✅</p>
      <% } %>

    <table>
      <tbody>
        <% results.forEach(result => { %>
        <tr>
          <td><%= result.gtin %></td>
          <td><%= result.valid ? 'Valid' : 'Invalid' %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
